<div id="top-banner" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container d-flex justify-content-center">
    <h1>Your Movies, Your Lists, Your Way</h1>
  </div>
</div>

<div class="container my-5">

  <div class="headings d-flex flex-row justify-content-between">
    <h2 class="mx-3">My Lists</h2>
    <%= link_to "Add a new list", new_list_path, class: "btn btn-gradient mx-3" %>
  </div>


  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mt-5 g-3">
    <% @lists.sort_by(&:name).each do |list| %>
      <div class="col">
        <%= link_to list_path(list), class: "text-decoration-none d-block h-100" do %>
          <div class="list-banner rounded-5 h-100 w-100 text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<% if list.photo.attached? %>
            <%= cl_image_path list.photo.key %>
                <% else %>
                  <%= asset_path('movie-card.jpg') %>
                <% end %>);
                background-size: cover; background-position: center;">
            <div class="container d-flex justify-content-center h-100 align-items-center">
                <h1 class="text-white text-decoration-none m-0 px-3"><%= list.name %></h1>
            </div>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>



</div>
