<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar bg-body-tertiary bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="<%= root_path %>">
          <img src="<%= asset_path('popcorn.svg') %>" alt="Popcorn Icon" width="30" height="24" class="d-inline-block align-text-top">
          Movie Listr
        </a>
        <ul class="navbar-nav d-flex flex-row ms-auto">
          <li class="nav-item mx-3">
            <a class="nav-link" href="<%= root_path %>">My Lists</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#listModal">New list</a>
          </li>
        </ul>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:alert] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    <% end %>

    <!-- Form Model -->
    <div class="modal fade" id="listModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="listModalLabel">New List</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <%= render "lists/form" %>
        </div>
      </div>
    </div>


    <%= yield %>
  </body>
</html>
